<!DOCTYPE html>
<html>
  <head>
 {{>headerlink}} 
  </head>
  <body>
   {{>navbar}} 
   <!--main header -->
      <div class="container-fluid main_header">
     <div class="row">
      
       <div class="col-md-10 col-12 mx-auto">
         <div class="row">
             <!--left div-->
             <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
              <img   src="images/About.png" alt="dipanjali" title ="about img" class="img-fluid"/>
              
              
            </figure>
            </div>
            <!--right div-->
           <div class="col-md-6  col-12 main_header_left align-items-center">
            
            
     
             <p>welcome to weather app by dipanjali singh </p>
              <h1> i am a <span class="weather"> mern stack developer</span><span> and a learner</span></h1>
             <a href="/me"><button>about me</button></a>
             
             
           </div>
          
          
            

            
            
          
           
           
           
        </div>
         
         
      </div>
    </div>
 </div>
    
    
     <!--footercode-->
  {{>footer}} 
  
  
  
  
  
  
  
</body>
  
  
  
</html>