<!DOCTYPE html>
<html>
  <head>
 {{>headerlink}} 
  </head>
  <body>
   {{>navbar}} 
   <!--main header -->
      <div class="container-fluid main_header">
     <div class="row">
      
       <div class="col-md-10 col-12 mx-auto">
         <div class="row">
             <!--left div-->
             <div class="col-md-12 col-12 main_header_left align-items-center">
            <figure class="errorimg">
              <img   src="images/Error.jpg" alt="dipanjali" title ="about img" class="img-fluid"/>
              
              
            </figure>
            
             <p>welcome to weather app by dipanjali singh </p>
              <h1>{{error_msg}}</h1>
             <a href="/"><button>go back</button></a>
            </div>
            <!--right div-->
           
            
            
     
             
             
           </div>
          
          
            

            
            
          
           
           
           
        </div>
         
         
      </div>
    </div>
 </div>
    
    
     <!--footercode-->
  {{>footer}} 
  
  
  
  
  
  
  
</body>
  
  
  
</html>